{% extends 'lyric_search/base.html' %}

{% block content %}


<p class="lead" style= text-align:left>
    Hello, my name is Julian Camp, and I am a computer science student at
    the University of Georgia. I created this web application intially
    to help solve a problem that kept reaccuring in my own life. I 
    listen to music on the radio, and I can never remember the name 
    of the songs that I like. I can usually only remember a few words. 
    This web application allows me to type in the few words I 
    remember and displays the songs with the specific words in them. 
    It also allows me to view the lyrics of these songs and find what 
    song I'm looking for. This project started off as a java command
    line interface project and has grown into a full fledged Django 
    web application. It has greatly reduced the time I spend looking
    up songs and lyrics online and it has also been a great learning 
    experience.
</p>
{% endblock %}